<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MyCRM contacts</title>
  </head>
  <body>
    <p><a href="/home">Home</a></p>
    <h1>My Contacts</h1>
    <ul>
      <%@contacts.each do |contact|%>
      <li>
        <% contact.attributes.each do |k, v| %>
        <% unless k == "id" %>
        <p><%= k.capitalize %>: <%= v %></p>
        <% end %>
        <% end %>
        </li>
      <%end%>
    </ul>
  </body>
</html>
